################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculatorApp/obj
/CalculatorApp/.vs/CalculatorApp
/CalculatorApp/bin/Debug/net8.0
